# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
build/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.swiftpm/
.build/

# Local secrets / overrides
*.local.xcconfig
.env
